/**
 ** Light:
 */

$bg: hsla(0,0,100,1);
$heading: hsl(209, 17%, 31%);
$txt: hsl(209, 17%, 31%);
$drk: hsl(209, 17%, 31%);
$lnk: hsl(198, 13%, 29%);
$lnk_hover:  hsl(33, 14%, 33%);
$heading_drk: hsl(198, 13%, 29%);
$lnk_footer: hsl(33, 14%, 33%);
