@import 'partials/colors';
@import 'partials/base';

#container {
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 730px;
  margin: 20px auto 20px;
  position: relative; 
}

#container:before, #container:after {
  content: " ";
  display: table; 
}

#container:after {
  clear: both; 
}

footer {
  margin-top: 20px;
  text-align: left;
}

footer a {
  color: $lnk_footer;
}
